@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: rgba(150, 131, 236, 0.2);
}
